.app-container {
    margin-left: 240px;
    padding-top: 10px;
}

.nav-container {
    position: fixed;
    width: 240px;
    height: 100vh;
    border-style: solid;
    border-color: #d8dfe5;
    border-width: 1;
    background-color: #f0f8ff;
}

.nav-item-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.nav-item {
    padding: 10px;
    display: flex;
}

.nav-item:hover {
    background-color: #d7ecff;
    color: #627f99;
    cursor: pointer;
}

.nav-item-header {
    padding: 10px;
    margin-bottom: 5px;
}

.nav-item-text-container {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item-text {
    font-size: 14px;
    margin-left: 10px;
}

.nav-item-subtext {
    font-size: 12px;
    margin-left: 10px;
}

.nav-item-subtext-header {
    font-size: 12px;
    margin-left: 0px;
}

.nav-item-text-header {
    margin-left: 0px;
}

.nav-item-icon {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-item-icon-header {
    margin-left: -10px;
}

.nav-item-icon-header-picture {
    width: 40px;
    margin-top: 5px;
}

.nav-item-options {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 0px 3px;
}

.nav-item-options:hover {
    background-color: #93bee5;
    border-radius: 5px;
}